[submodule "build-infra"]
	path = build-infra
	url = git@github.com:InfiCell/clearwater-build-infra.git
[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:InfiCell/cpp-common.git
[submodule "modules/gmock"]
	path = modules/gmock
	url = git@github.com:InfiCell/gmock-upstream.git
[submodule "modules/gcovr"]
	path = modules/gcovr
	url = git@github.com:gcovr/gcovr.git
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = git@github.com:miloyip/rapidjson.git
